.steps_container {
    text-align: center;
    .title {
        font-weight: 600;
        margin-bottom: 80px;
    }
    font-size: 17px;
    line-height: 24px;
}
.steps {
    background: #dde0e3;
    padding: 80px 0;
}