.carousel {
    // margin-top: 50px;
    z-index: 1;
    position: relative;
    .viewport {
        overflow: hidden;
        padding-top: 0;
        .images {
            display: flex;
            transition: all 1s;
            .image {
                width: 100%;
            }
        }
    }
    .points {
        align-items: end;
        justify-content: center;
        display: flex;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
}
.viewport {
    z-index: 1;
}
.viewport, .points {
    
    @media screen and (max-width: 768px) {
        padding: 40px;
    }
    @media screen and (min-width: 991px) {
        padding: 80px;
    }
}