.breadcrumb {
    display: flex;
    justify-content: center;
    .item {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: bold !important;
        font-size: 21px !important;
        padding: 5px 20px;
        margin: 0;

        width: 100%;
        text-align: center;
        &.active {
            border-color: #3939D6;
        }
        border-bottom:solid  #C4C4C4;
        cursor: pointer;
    }
}