.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    margin: 10px;
    &.start {
        text-align: start;
    }
    &.center {
        text-align: center;
    }
    &.end {
        text-align: end;
    }
}