.field {
    display: flex;
    margin-top: 10px;
    input {
        margin: 5px;
        width: 30px !important;
        min-width: 30px;
        height: 20px !important;
        min-height: 20px;
    }
}
.btn_con {
    width: 100%;
    text-align: center;
    margin-top: 75px;
    .btn {
        background: linear-gradient(84.38deg, #8383F7 -89.95%, #1919F1 136.37%);
        border-radius: 7px;
        border: none;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        padding: 10px 20%;
    }
}
.selecter_date {
    outline: none;
    padding: 5px 10px;   
}

.thank {
    display: flex;
    align-items: center;
    .circle_success {
        background-color: #3030F2;
        padding: 11px;
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }
    p {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        color: #3030F2;
        margin-left: 20px !important;
    }
}